body{
    
    background-color: #ffebcd;
    min-height: 50vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.form{
    padding: 30%;
    margin: 10%;
    height: 5%;
    width: 120%;
    background-color: #00bfff; 
    border-radius: 10px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.form_in{
   margin: 10px;
   align-items: center; 
}






